body {
    font-family:

}
#clock {
    width:400px;
    text-align:center;
    margin: 0 auto;
    margin-top:15%;
    font-size:45px;
    color: white;
}

#myClock {
	font-size: 25px;
	text-align: center;
	margin: 0 auto;
	margin-top:20%;


}

h1	{
	text-align: center;
	color: white;
}

